---
layout: default
---

<header>
{% if site.theme_config.show_navbar == true %}
  {% include horizontal_list.html collection=site.data.navbar.navbar_entries %}
  <div class="dashed"></div>
{% endif %}

  <h1>{{ site.data.home.workflow_description.name }}</h1>
  {% if site.theme_config.show_description == true %}
    <p>{{ site.data.home.workflow_description.desc }}</p>
    <p>Executed on server: {{ site.data.home.workflow_description.server }}</p>
    <p>Job UUID: {{ site.data.home.workflow_description.uuid }}</p>
  {% endif %}
</header>

{{ content }}

{% if site.theme_config.show_recommendation_list == true %}
  <h2>{{ site.theme_config.home.title_recommendation_list }}</h2>
  {% include vertical_list.html collection=site.data.recommendations.recommendations %}
{% endif %}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_sections }}</h2>
  {% include card_list.html collection=site.data.sections.subunits %}
{% endif %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
